<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Rest</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <%- include('../partial/navbar') %>
        <h1>All Resturaunts</h1>

        <div class="cards-container">

            <% for(let oneRest of rest){%>
                <div class="cards">
                    <a href="/resturaunts/<%=oneRest.id%>">
                        <%=oneRest.name%>
                            <br>
                            <br>
                            <%if (oneRest.isOpen==false){ %>
                                <p id="close">Closed</p>
                                <%}else{ %>
                                    <p id="open">Open</p>

                                    <%}%>
                    </a>

                </div>
                <%}%>
        </div>
</body>

</html>