<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
        <%- include('../partial/navbar') %>

    <h1>All Resturaunts</h1>
    <% for(let oneRest of rest){%>
        <a href="/resturaunts/<%=oneRest.id%>">
            <%=oneRest.name%>  
            
            <%if (oneRest.isOpen == false){ %>
               - Closed
            <%} %>

        </a>
        

        <br>
        <%}%>
</body>

</html>